<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <style> 
    body{
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
  }
  
  form {
      max-width: 300px;
      margin: 0 auto;
  }
  
  input {
      margin-bottom: 10px;
      padding: 5px;
  }
  
  input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
  }
  </style>
 <form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>

  <input type="submit" value="Login">
    <% if (error) { %>
      <p style="color: red">
        <%= error %>
      </p>
      <% } %>
  </form>
  <a href="/signup">Signup</a>
</body>

</html>